.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/landscape/
themes/next/
themes/freemind/
themes/hiero/
themes/source/
myblog/
source/albums/0/
source/albums/1/
source/albums/2/
themes/*/source/assets/fonts/
.deploy*/
*.swp
*.swo
